.liquid--tracker {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;

  table {
    .liquid--counter--increase {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 15px;
    }
  }
}