.liquid--tracker {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 75px;
  align-items: center;
  text-align: center;

  h3 {
    font-weight: bold;
  }

  table {
    .liquid--counter--increase {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 15px;
    }
  }
}